
#define WIFI_SSID "<YOUR_WIFI_SSID_HERE>"
#define WIFI_PASS "<YOUR_WIFI_PASSWORD_HERE>"
#define BASE_API_URL "<YOUR_BACKEND_URL_HERE>"
#define API_KEY "<YOUR_API_KEY_HERE>"
#define RELEVANT_USER_ID "default_user"
#define CLIENT_NAME "ESP32-BUZZER-ALARMS-CLIENT"